server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tienda?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
    username: root
    password: ""
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  mvc:
    cors:
      mappings:
        - path-pattern: "/**"
          allowed-origins: "http://localhost:5173"
          allowed-methods: "GET,POST,PUT,DELETE,OPTIONS"
          allowed-headers: "*"
          allow-credentials: true

security:
  jwt:
    secret: ${JWT_SECRET:dev-super-secret-please-change-32-bytes-minimum-very-long-key-1234567890}
    expiration-ms: 86400000